main {
  padding: 2rem;
  background-color: whitesmoke;
  border-radius: 10px;
}

.container {
  font-size: 2rem;
  
}

.content-box {
  height: 100px;
  margin-bottom: 20px;
}

label, input {
  display: block;
}

label {
  margin-bottom: 20px;
  font-family: 'Schoolbell', cursive;
  font-size: 3rem;
}