h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

#top-part {
  margin-bottom: 30px;
  font-family: 'Schoolbell', cursive;
  
}

#pictures {
  text-align: center;
}

img {
  max-width: 80%;
}


.pag-nav {
  margin-top: 30px;
}