main{
  background-image: url("https://media.officedepot.com/images/f_auto,q_auto,e_sharpen,h_450/products/589483/589483_o02_office_depot_brand_notebook_filler_paper/589483_o02_office_depot_brand_notebook_filler_paper");
  background-size: cover;
}

.lesson-footer{
  display: flex;
  flex-direction: row;
  gap: 5px;
  
}