html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  background-image: url("../images/—Pngtree—school\ classroom\ advertising\ background_975325.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;


}

main{
  display: flex;
  flex-direction: column;
  height: 1000px;
  padding: 2rem;
  background-color: whitesmoke;
  border-radius: 10px;
}

#lesson-summary {
  font-size: 2rem;
}

.btn {
  font-size: 1.6rem;
}

.navbar {
  font-size: 2rem;
  font-family: 'Schoolbell', cursive;
}

.navbar-brand {
  font-size: 30px;
}

#right-side-nav {
  text-align: right;
  display: flex;
  flex-direction: row;

}

#right-side-nav a {
  color: white;
}

a {
  text-decoration: none;
}

.modal {
  font-family: 'Schoolbell', cursive;
  background-image: url("https://media.officedepot.com/images/f_auto,q_auto,e_sharpen,h_450/products/589483/589483_o02_office_depot_brand_notebook_filler_paper/589483_o02_office_depot_brand_notebook_filler_paper");
  background-size: cover;
}

#modal-p{
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}