{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/create_lesson.css') }}">


  <main>
    <div class="container">
      <form class="form-group" method="POST">
          {{form.hidden_tag()}}
          <div class="form-group">
            {{form.student.label(class="form-control-label")}}
            {{form.student(class="form-control form-control-lg")}}
           </div>
          <div class="form-group">
              {{form.title.label(class="form-control-label")}}
              {{form.title(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.lessonDate.label(class="form-control-label")}}
            {{form.lessonDate(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.content.label(class="form-control-label")}}
            {{form.content(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.subject.label(class="form-control-label")}}
            {{form.subject(class="form-control form-control-lg")}}
          </div>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
    </div>
  </main>
{% endblock %}