{% extends "base.html" %}
{% block content %}


<div class="jumbotron">
<h1 class="display-4">All {{user.username}}'s Lessons</h1>

<div>
  {% for lesson in lessons.items %}
  <h2>{{lesson.student}} has a(n) {{lesson.subject}} lesson on {{lesson.lessonDate}}</h2>
  {% if lesson.author == current_user %}
     <div>
      
       <form action="{{ url_for('lessons.delete_lesson', lesson_id=lesson.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
  {% endfor %}
</div>
{% endblock %}
