{% extends "base.html" %}
{% block content %}

<main>
  <div >
    <h1 >All {{user.username}}'s Lessons</h1>
    
    <div>
      {% for lesson in lessons.items %}
      <h2>
        <a href="http://{{url_for('lessons.lesson', lesson_id=lesson.id)}}">
          {{lesson.student}} 
        </a>
        has a(n) {{lesson.subject}} lesson on {{lesson.lessonDate}}
        To <a class="btn btn-primary" href="{{ url_for('lessons.lesson', lesson_id=lesson.id) }}">
         {{lesson.title}}
        </a>
      </h2>
        <div>
          <form action="{{ url_for('lessons.delete_lesson', lesson_id=lesson.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="exampleModalLabel">{{lesson.student}}'s {{lesson.subject}} Lesson.</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h1>{{lesson.title}}</h1>
                  _________________________
                  <h2>When:    {{lesson.lessonDate}}</h2>
                  <p id="modal-p">
                    {{lesson.content}}
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    
  </div>
</main>
{% endblock %}
