{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/lessons.css') }}">


<main>
  <div >
    <div id="top-part">
      <h1 >All {{user.username}}'s Lessons</h1>
      <h3>
        <a href="{{url_for('users.calendar', username=current_user.username)}}">Switch To Calendar </a>  |  <a href="{{url_for('lessons.create_lesson')}}">Create Lesson</a>
      </h3>
    </div>
    <div>
      {% for lesson in lessons.items %}
      <p id="lesson-summary">
        <a href="{{ url_for('lessons.student', student_name=lesson.student) }}">
          {{lesson.student}} 
        </a>
        has a(n) {{lesson.subject}} lesson on {{lesson.lessonDate.strftime('%m-%d-%Y')}}

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{lesson.id}}">
            Details
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal{{lesson.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" id="exampleModal{{lesson.id}}">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="exampleModalLabel">{{lesson.student}}'s {{lesson.subject}} Lesson.</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h1>{{lesson.title}}</h1>
                  
                  <h2>When:    {{lesson.lessonDate.strftime('%m-%d-%Y')}}</h2>
                  __________________________________________________
                  <p id="modal-p">
                    {{lesson.content}}
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form action="{{ url_for('lessons.delete_lesson', lesson_id=lesson.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                  <form action="{{ url_for('lessons.update', lesson_id=lesson.id) }}">
                    <input class="btn btn-success" type="submit" value="Update">
                  </form>
                  <form action="{{ url_for('lessons.lesson',lesson_id=lesson.id) }}">
                    <input class="btn btn-primary" type="submit" value="View">
                  </form>
                </div>
              </div>
            </div>
          </div>
        
        </p>
      {% endfor %}
    
  </div>
 
  <nav aria-label="Page Navigation example" class="pag-nav">
  <div class=pagination>
    {% for page_num in lessons.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if lessons.page == page_num %}
        <li class="page-item disabled">
            <a class="page-link" href="{{url_for('users.lessons', username=current_user.username, page=page_num)}}">{{ page_num }}</a>
        </li>
      {% else %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('users.lessons', username=current_user.username, page=page_num)}}">{{ page_num }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </div>

</nav>
</main>
{% endblock %}

